h1 {
	background: black;
	color: white;
}
/* the right of the dot notation is a class selector- see related html file cssClasses */
p.first {
	color: red;
	margin: 10px;
	padding: 20px;
}

/* you can also just use the dot notation and it applies to any tag */
.second {
	color: orange;
	margin: 1px;
	padding: 50px;
}

/* here are other selectors- pseudoclasses pg 62 of webapp book */
a:link {
	color: cornflowerblue;
	text-decoration: none; /* removes the default underline */
}

/* example of a pseudoclass ** note the colon: not a dot as above 
a pseudoclass implicitly adds adds functionality for you, whereas when you use .class you have to define the behavior
*/
a:active {
	color: yellow;
}

a:hover {
	text-decoration: underline;
}